*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Source Serif 4", Georgia, serif;
    background-color: #f8f7f4;
}
.lien{
    display: flex;
    padding: 30px;
    gap: 30px;
}
.a{
    display: flex;
    gap: 30Px;
    
}
.barre{
   display: flex;
   gap: 30px;
   padding-left: 13rem;
}
a{
    text-decoration: none;
    color: rgb(34, 33, 33);
    font-size: 15px;
    padding-top: 13PX;
}
select{
    border: none;
    color: rgb(34, 33, 33);
    font-size: 15px;
    background-color: #f8f7f4;
    outline: none;
}
input{
    width: 200px;
    height: 50px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: white;
}
::placeholder, i{
   padding: 17px;
}
i{
    position: absolute;
    color: rgb(109, 103, 103);
}
::placeholder{
    padding: 40px;
}
.vide{
    color: rgb(34, 33, 33);
    border: none;
    font-size: 15Px;
    font-weight: bold;
    
    background-color: #f8f7f4;
}
.noir{
    height: 35px;
    width: 90px;
    font-size: 13Px;
    font-weight: bold;
    color: white;
    background-color: rgb(34, 33, 33);
    border: none;
    border-radius: 30px;
    margin-top:-15PX ;
}
.noir:hover{
    background-color: rgb(100, 98, 98);
}
.couleur{
    text-align: center;
    width: 350PX;
    height: 30px;
    border-radius: 50PX;
    font-size: 14px;
    font-weight: bold;
    padding-top: 10px;
    margin-left: 37%;
    margin-top: 40px;

    animation-name: couleur;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
@keyframes couleur{
    16%{ background-color: rgb(235, 161, 24);}
    33%{ background-color: palevioletred;}
    49%{ background-color: rgb(204, 36, 64);}
    64%{ background-color: rgb(48, 207, 194);}
    75%{ background-color: blue;}
    85%{ background-color: rgb(102, 35, 102);}
    100%{ background-color: rgb(186, 189, 33);}
}

.P{
    text-align: center;
    font-size: 70px;
    margin-top: 40px;
    font-weight: 500;
 }
 .para{
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    margin-top: 20px;
 }
 .noir2{
    text-align: center;
    height: 55px;
    width: 120px;
    font-size: 13Px;
    font-weight: bold;
    color: white;
    background-color: rgb(18, 19, 37);
    border: none;
    border-radius: 30px;
    margin-left: 45%;
    margin-top: 5%;
 }
 .noir2:hover{
    background-color: rgb(170, 110, 110);
 }
 .carousel{
    overflow-x: hidden;
    overflow-y: hidden;
 }
 .les-image{
    display: flex;
    animation-name: anime;
    animation-timing-function: linear;
    animation-duration: 30s;
    animation-iteration-count: infinite;
 }
 @keyframes anime{
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
 }
.les-image, img{
    gap: 20PX;
    border-radius: 30px;
 }
 .paragraphe{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-top: 50px;
 }
 .section-bas-image{
    display: flex;

 }
 .detail-video{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .Galerie{
    padding: 20px;
    float: left;
    padding-left: 20PX;
   margin: 20PX; 
 }
 .Galerie:hover{
background-color: rgba(214, 128, 196, 0.829); 
}
.fa-regular {
    font-size: 12px;
}
.fa-solid {
    font-size: 12px;
}
.pro{
    background-color: gray;
    margin-left: 5PX;
    color: white;
    margin-top: 5PX;
    padding-top: 2PX;
}
.meta-donnés{
    padding-left: 10px;
}
.foot{
   background-color: #ffda79;
}
.footer{
    text-align: center;
    padding-top: 8%;
    padding-bottom: 8%;
    margin-bottom: 5%;
}
.footer> h2{
    font-size: 70PX;
    font-weight: 100;
}
.fp{
    font-size: 20px;
    padding-bottom: 25px;
}
.nr{
    width: 12%;
    height: 50PX;
    color: white;
    background-color: rgb(16, 16, 34);
    border-radius: 50PX;
    border: NONE;
}
.bl{
    width:  12%;
    height: 50PX;
    color: rgb(0, 0, 0);
    background-color:white;
    border-radius: 50PX;
    border: NONE;
}
.ff{
    font-size: 20px;
}
.ff> a{
    font-size: 20px;
    text-decoration: underline;
}
.butto{
    width: 30%;
    height: 50px;
    border-radius: 50px;
    font-weight: 600;
    border: 1px solid black;
}
.butt{
    text-align: center;
    padding-bottom: 10%;
}
.image-foot{
    display: flex;
    gap: 20px;
    animation-name: anime;
    animation-timing-function: linear;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    padding-bottom: 10%;
}
.courou{
    overflow-x: hidden;
    overflow-y: hidden;
}
.a, .fa-brands{
    font-size: 25PX;
    color: black;
    padding-top: 0PX;
    padding-left: 5%;
}
.tous{
    display: flex;
    justify-content: space-around;
    padding-bottom: 40PX;
}
.BASSE> a{
    color: gray; 
    padding: 10PX; 
}
.BASSE1> a{
    color: gray; 
    padding: 10PX
}
@media screen and (max-width:600PX){
    .a{
        display: none;
    }
    .couleur{
       position: relative;
       right: 35%;
    }
}